#nav_container {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #000000;
}
#page_id {
    display: block;
    float: left;
    margin-right: 20px;
}
#nav_links {
    padding-top: 5px;
}
nav {
    margin: auto auto;
    width: 50%;
}
nav ul, footer ul {
    font-family:'Open Sans', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    float: left;
    margin-right: 20px;
}
nav a {
    display: block;
    color: #FFF;
}
